/**
author:xiaomiwujiecao
github main page: https://github.com/xiaomiwujiecao
这个是我自定义的样式，你也可以直接使用或者参考
*/

/*text break 2 超过两行*/

.textBreak2 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*text break 1 超过一行*/

.textBreak1 {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.border-1px {
  border: 1px solid #666666;
}
.border-b-1px{
  border-bottom:1PX #d6e4ef solid
}

// width
.width-50 {
  width: 50%;
}

.w40px {
  width: 40px;
}

.w50px {
  width: 50px;
}

.w64px {
  width: 64px;
}

.w223px {
  width: 223px;
}
.w50pct{
  width: 50%;
}
.w90pct{
  width: 90%;
}
.w95pct{
  width: 95%;
}
.w100pct {
  width: 100%
}
.w400px{
  width: 400px!important;
}
.w450px{
  width: 450px!important;
}
.w460px{
  width: 460px !important;
}
.w465px{
  width: 465px !important;
}
.w470px{
  width: 470px!important;
}
.w500px{
  width: 500px!important;
}
.w600px{
  width: 600px;
}
.w70pct {
  width: 70%
}
.h100pct {
  height: 100%;
}

.h40px {
  height: 40px;
  line-height: 40px;
}

.h50px {
  height: 50px;
}

.h80px {
  height: 80px;
}

.w100px {
  width: 100px
}

.w120px {
  width: 120px;
}

.w150px {
  width: 150px!important;
}
.w160px{
  width: 160px!important;
}
.w165px{
  width: 165px!important;
}
.w170px{
  width: 170px!important;
}
.w186px {
  min-width: 186px;
}
.w195px{
  width: 195px;
}
.w200px {
  width: 200px;
}

.w250px {
  width: 250px;
}

.w400px {
  width: 400px;
}

// height
.h30px {
  height: 30px;
}

.h40px {
  height: 40px;
}

.h100px {
  height: 100px
}

.h120px {
  height: 120px;
}

.h125px {
  height: 125px;
}

.h141px {
  height: 141px;
}

.h150px {
  height: 150px
}

.h200px {
  height: 200px;
}

.h220px {
  height: 220px;
}

.h223px {
  height: 223px;
}

.h240px {
  height: 240px;
}
.h300px {
  height: 300px;
}
.h400px {
  height: 400px;
}
.mh500px{
  min-height: 500px;
}
.v-height{
  height: calc(100vh - 250px);
}

// block
.flex-block {
  display: inline-flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

// flex part
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.flex-align-center {
  align-items: center;
}

.flex-align-end {
  align-items: flex-end;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-align-stretch {
  align-items: stretch;
}

.flex-align-baseline {
  align-items: baseline;
}

.flex-align-self-start {
  align-self: flex-start;
}

.flex-align-self-end {
  align-self: flex-end;
}

.flex-align-self-baseline {
  align-self: baseline;
}

.flex-align-self-stretch {
  align-self: stretch;
}

.flex-around {
  justify-content: space-around;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

// margin part

// margin right
.mr-0 {
  margin-bottom: 0;
}

.margin-20
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}
.mr-60{
  margin-right: 60px;
}
.mr-65{
  margin-right: 65px;
}

// margin left
.ml-0 {
  margin-bottom: 0;
}
.ml-2{
  margin-left: 2px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px!important;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}

.ml-50 {
  margin-left: 50px;
}

.ml-69 {
  margin-left: 69px;
}

// margin top
.mt-0 {
  margin-bottom: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-20-important {
  margin-top: 20px !important;
}

.mt-28PX {
  margin-top: 28PX;
}

.mt-38PX {
  margin-top: 38PX;
}

.mt-48PX {
  margin-top: 48PX;
}

.mb-34PX {
  margin-bottom: 34PX;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}
.mt-63{
  margin-top: 63px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mt-250 {
  margin-top: 250px;
}

// margin part
.margin-20 {
  margin: 20px !important;
}

// margin bottom
.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-120 {
  margin-bottom: 120px;
}
.mb-220 {
  margin-bottom: 220px;
}
// margin top and bottonm same

.mtb-5 {
  margin: 5px auto;
}

.mtb-10 {
  margin: 10px auto;
}

.mtb-20 {
  //margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb-50 {
  margin: 50px auto;
}


// margin left and right  same

.mlr-5 {
  margin: auto 5px;
}

.mlr-10 {
  margin: auto 10px;
}

.mlr-20 {
  //margin: auto 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.mlr-30{
  margin-left: 30px;
  margin-right: 30px;
}
.mlr-40{
  margin-left: 40px;
  margin-right: 40px;
}
.mlr-75{
  margin-left: 75px;
  margin-right: 75px;
}
.mlr-100{
  margin-left: 100px;
  margin-right: 100px;
}
.mlr-200{
  margin-left: 200px;
  margin-right: 200px;
}
.mlr-25 {
  //margin: auto 20px;
  margin-left: 25px;
  margin-right: 25px;
}
.mlr-50 {
  margin: auto 50px;
}

.ml-20-minus {
  margin-left: -20px;
}

.ml-30-minus {
  margin-left: -30px;
}

.ml-45-minus {
  margin-left: -45px;
}

// font size part
.fz12{
  font-size: 12px;
}
.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

.fz20 {
  font-size: 20px;
}

.fz22 {
  font-size: 22px;
}

.fz24 {
  font-size: 24px;
}

.fz26 {
  font-size: 26px;
}

.fz28 {
  font-size: 28px;
}

.fz30 {
  font-size: 30px;
}

.fz32 {
  font-size: 32px;
}

.fz36 {
  font-size: 36px;
}

.fz48 {
  font-size: 48px;
}

.fz60 {
  font-size: 60px;
}

// color part

.cl48 {
  color: #484848;
}

.cl2b {
  color: #2B2B2B;
}

.clf {
  color: #ffffff;
}

.cl0 {
  color: #000;
}

.cl-666 {
  color: #666666;
}

.cl-pink {
  color: rgba(232, 90, 113, 1);
}

.cl-E85A71 {
  color: #E85A71;
}

.cl-EF5068 {
  color: #EF5068;
}

.cl-333 {
  color: #333333!important;
}
.cl-09bb07{
  color: #09bb07;
}
.cl-25b979{
  color: #25b979;
}
.cl-ff3333{
  color: #ff3333;
}
.cl-E85A71 {
  color: #E85A71;
}

.bg-fff {
  background-color: #fff;
}
.bg-666{
  background-color: #666666!important;
}
.bg-333{
  background-color: #333333!important;
}
.bg-2b{
  background-color: #2b2f3a!important;
}

.bg-E85A71 {
  background-color: #E85A71;
}

.bg-09bb07 {
  background-color: #09bb07!important;
}

.bg-f0 {
  background-color: #f0f0f0;
}

.bg-f5 {
  background-color: #F5F5F5;
}

.b-r-50pct {
  border-radius: 50%;
}

.b-r-10px {
  border-radius: 10px;
}

.bcl-666 {
  border-color: #666666;
}

.bcl-EF5068 {
  border-color: #EF5068;
}

.bbn {
  border-bottom: none;
}

// weixin check box
checkbox .wx-checkbox-input {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
}

//  weixin  checkbox selected
checkbox .wx-checkbox-input.wx-checkbox-input-checked {
  color: #ffffff;
}

// z-index part
.z-index-minus-1 {
  z-index: -1;
}

.z-index-1000 {
  z-index: 1000;
}

.z-index-1001 {
  z-index: 1001;
}

.z-index-1002 {
  z-index: 1002;
}

.z-index-1003 {
  z-index: 1003;
}

.z-index-1004 {
  z-index: 1004;
}

.z-index-1005 {
  z-index: 1005;
}

.overflow-y {
  overflow-y: scroll!important;
}

.overflow-x {
  overflow-y: scroll;
}

.price-demo {
  font-size: 24px;
  font-weight: 400;
  color: rgba(232, 90, 113, 1);
  opacity: 1;
}

.positon-relative {
  position: relative;
}

.positon-abs {
  position: absolute;
}
.positon-fixed {
  position: fixed;
}
.b-34PX{
  bottom: 34PX;
}
.r-16PX{
  right: 16PX;
}
.opcity-5 {
  opacity: .5;
}

.opcity-6 {
  opacity: .6;
}

.opcity-2 {
  opacity: .2;
}

.opcity-none {
  opacity: 0;
}

// 吸底 iphone X 底部适配
.feed-bottom-view-IPX {
  /* iPhone X 内容往上偏移 34px */
  padding-bottom: 34PX;
}

.fix-buttom-34px {
  bottom: 34PX !important;
}

.fix-buttom-0px {
  bottom: 0PX !important;

}

// top

.top-0 {
  top: 0;
}
.right-0{
  right: 0;
}
.left-0{
  left: 0;
 }
.bottom-0{
  bottom: 0;
}
// padding

.pd-b-34px {
  padding-bottom: 34PX;
}

//
.pd-5px {
  padding: 5px;
}

.pd-l-5px {
  padding-left: 5px;
}

.pd-l-10px {
  padding-left: 10px;
}
.plr-20{
  padding-left: 10px;
  padding-right: 10px;
}
.pd-50px {
  padding-bottom: 50px;
}

.pdb-50px {
  padding-bottom: 50px;
}

.pdb-100px {
  padding-bottom: 100px;
}

.pdb-168px {
  padding-bottom: 168px;
}

.pd-t-10px {
  padding-top: 10px;
}
.pd-t-20px{
  padding-top: 20px;
}

// min height

.mh-28px {
  min-height: 28*2px;
}

.mh-197px {
  min-height: 197px;
}

// shadow

.b-shadow {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mw-20px {
  min-width: 20px;
}

.mw-40px {
  min-width: 40px;
}

.mw-65px {
  min-width: 65px;
}

.mw-112px {
  min-width: 112px;
}
.hover-dedede{
  &:active{
    background-color: #dedede;
  }
}
.hover-active-dedede{
  &:active{
    background-color: #dedede;
  }
  &:hover{
    background-color: #dedede;
  }
}
.el-date-editor .el-range-separator{
  padding: 0 0;
}